.title{
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.center{
	margin: 0 auto;
}

.lot-container-margin{
	margin: 50px;
}

.medium-container-margin{
	margin: 25px;
}

.container-header{
	border-right: 1px solid #ddd;
	margin-bottom: 10px;	
	background: white;
}

.container-footer{
	border-right: 1px solid #ddd;
	background: white;
	margin-top: 10px;
}